<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>

  <div class="container">

    <div class="jumbotron text-center">
      <h1>mars</h1>
    </div>

    <!-- mars -->
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
    {%for result in mars_results["hemisphere_pics"]%}
    <h1>result.title</h1>
    <img src={{result.img_url}}>
    {% endfor %}
    <table>
     {{mars_results["mars_table"]}}
    </table>
    {%for result in mars_results%}
    <h1>{{ result["news_title"] }}</h1>
    <p>{{result["news_p"]}}</p>
    {{result["mars_table"]}}
    {%for img in result["hemisphere_pics"]%}
    <h1>{{img["title"]}}</h1>
    <img src={{img["img_url"]}}>
    {%endfor%}
    {%endfor%}

  </div>
 
  



</body>

</html>